= provide :title, 'Quipper test: the-feel Good Task Manager'
#logo= image_tag 'the-feel-web-logo1.png'
.center 
  %h1#mainheading 
    %i the-feel
    Good Task Manager
  = link_to "Register", '#', class: "btn btn-large btn-inverse buttons"
  = link_to "Sign in", '#', class: "btn btn-large btn-inverse buttons"
