/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "bootstrap";
@import "./partials/font_families";
$lightgrey: #eee;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  @include body_text;
  background-color:$lightgrey;
  #logo{padding-top: 0.7em;}
  h1{
    @include title_text(2.7em);
    padding: 1em 0 1.7em;
    line-height:1.5;
  }
  .center{text-align: center;}
  .buttons{
    margin: 0 1.7em 0;
    width: 5em;
  }
  
  .debug_dump{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 9em;
    @include box_sizing;
  }
  
  input, textarea, select, .uneditable-input{
    width: 100%;
    padding:0.7em;
    margin-bottom: 1em;
  }
  
  #error_message{
    color: #f00;
    ul{
      list-style: none;
      margin: 0 0 1.5em 0;
    }
  }
  
  .field_with_errors{
    @extend .control-group;
    @extend .error;
  }
  
}